.header {

    height: 100px;

    &__top {
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
    }

    &__items--image {
        width: 100%;

    }

    &__items {
        background-color: hsl(256, 26%, 20%);
        height: 1150px;
        color: white;
        align-items: center;

    }

}

.hamburger {
    width: 32px;
    height: 32px;
}

.menu {
    display: none;
}